dill==0.3.5.1
dnspython==2.2.1
fastapi==0.78.0
httptools==0.5.0
imblearn==0.0
mypy-boto3-s3==1.24.76
pip-chill==1.0.1
pymongo[srv]==4.2.0
python-dotenv==0.21.0   #this is to read the .env file 
types-s3transfer==0.6.0.post4
uvicorn==0.18.3
watchfiles==0.17.0
websockets==10.3
wincertstore==0.2
xgboost==1.6.2
pandas
PyYAML
numpy
scikit-learn
pymongo
-e .    #will run the setup.py file and triggeer the find_packages() function so that we don't have to run setup.py everytime 